<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>Spell Checker</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-family: Arial, sans-serif;
        }
        .container {
            display: flex;
            flex-direction: row;
        }
        textarea {
            width: 300px;
            height: 200px;
            margin: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        .highlight {
            background-color: yellow;
        }
        .output {
            width: 100%;
            border: 1px solid #ccc;
            padding: 10px;
            margin-top: 20px;
            white-space: pre-wrap; /* Ensures that whitespaces are preserved */
        }
    </style>
    <script>
        function validateForm() {
            var text = document.forms["checkerForm"]["input_text"].value;
            if (text.trim() === '') {
                alert('Input cannot be empty or contain only spaces.');
                return false;
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <form name="checkerForm" action="/checker" method="post" onsubmit="return validateForm()">
            <textarea name="input_text" placeholder="Enter text here..." required></textarea>
            <button type="submit">Check</button>
        </form>
        <textarea readonly>{{ check_accuracy }}</textarea>
        <textarea readonly>{{ original_text }}</textarea>
        <textarea readonly>{{ output_text }}</textarea>
        <div>
            <h2>Highlighted Words</h2>
            <div class="output">{{ highlighted_text|safe }}</div>
        </div>
    </div>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>EngliScribe - Online Text Summarization</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">


    <!-- Additional CSS Files -->

    
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animate.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/mainstyling.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/service-domain.css') }}">

    <!-- <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/animate.css"> -->
    <link rel="stylesheet"href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type='text/javascript' src='https://ircdname.azureedge.net/immersivereadersdk/immersive-reader-sdk.1.4.0.js'></script>
    <script type='text/javascript' src="{{url_for('static', filename='helpers.js')}}"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"/>
    <style type="text/css">
            .immersive-reader-button {
                background-color: white;
                margin-top: 5px;
                border: 1px solid black;
                float: right;
            }
    </style>


  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="/" class="logo">
                      <img src="{{ url_for('static', filename='assets/images/engscribd_white.png') }}" alt="company logo" style="height: 56px; margin-right: 20px; padding-right: 20px;">
                      <!-- <img src="{{ url_for('static', filename='assets/images/logo.svg') }}" alt="company logo" style="height: 56px; margin-right: 20px; padding-right: 20px; border-right: 1px solid rgba(250, 250, 250, 0.3);"> -->
                      <!-- <h1><img src="{{ url_for('static', filename='assets/images/logofix.png') }}" alt="company logo" style="height: 50%; width: 50%;"/></h1> -->
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Serach Start ***** -->
                    <!-- <div class="search-input" style="margin-left: 20px;">
                      <form id="search" action="#">
                        <input type="text" placeholder="Type Something" id='searchText' name="searchKeyword" onkeypress="handle" />
                        <i class="fa fa-search"></i>
                      </form>
                    </div> -->
                    <!-- ***** Serach Start ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                      <li class="scroll-to-section"><a href="/#top" class="active">Home</a></li>
                      <li class="scroll-to-section"><a href="/#services">Services</a></li>
                      <li class="scroll-to-section"><a href="/#courses">Courses</a></li>
                      <!-- <li class="scroll-to-section"><a href="#team">Team</a></li> -->
                      <li class="scroll-to-section"><a href="/#events">Events</a></li>
                      <li class="scroll-to-section"><a href="/#contact">Contact Us</a></li>
                  </ul>   
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div class="main-banner" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="service-domain-icon">
            <img src="{{ url_for('static', filename='assets/images/summarize.png') }}" alt="online ocr" class="service-domain-icon-image">
          </div>
          <div class="service-domain-main-content">
            <h4 class="service-domain-header">Text Summarization</h4>
            <p class="service-domain-description">Summarize your long texts into simple paragraphs! More easier to read!</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="services-domain-expansion section" id="services-domain-ocr">
    <div class="container">

      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="section-heading">
            <h6>Text Summarization</h6>
            <h2 class="services-domain-sub-header">Online Text Summarization</h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 text-center">
            <div class="service-domain-section-heading">
                <h3>Input Text</h3>
            </div>
            <div class="container">
                <form name="checkerForm" action="/text_summarization" method="post">
                    <textarea class="service-domain-textarea" name="input_sum_text" placeholder="Enter text here..." required>{% if resultan_paragraph %}{{ resultan_paragraph | e }}{% endif %}</textarea>
                    <button type="submit" class="section-domain-main-button">Check</button>
                </form>
            </div>
        </div>
      </div>

      <div class="row" style="margin-top: 150px;">
        <div class="col-lg-12 text-center">
            <div class="service-domain-section-heading">
                <h3>Results</h3>
            </div>
            <div class="container" style="margin-bottom: 150px;">
                <!-- <h4 style="margin-bottom: 15px;">Corrected Text</h4> -->
                <h4 id="ir-title">Original Text</h4>
                <div id="ir-content" lang="en-us">
                    <!-- <div class="paragraph-container"> -->
                        <div class="paragraph-container">
                            <p>{{ original_text }}</p>
                        </div>
                    <!-- </div> -->
                </div>
                <button class="immersive-reader-button" data-button-style="iconAndText" data-locale="en"></button>
            </div>
            <div class="container">
                <!-- <h4 style="margin-bottom: 15px;">Corrected Text</h4> -->
                <h4 id="ir-title">Text Summarization Results</h4>
                <div id="ir-content" lang="en-us">
                    <!-- <div class="paragraph-container"> -->
                        <div class="paragraph-container">
                            <p>{{ summarized_text }}</p>
                        </div>
                    <!-- </div> -->
                </div>
                <button class="immersive-reader-button" data-button-style="iconAndText" data-locale="en"></button>
            </div>
        
            <script type="text/javascript">
        
                $(".immersive-reader-button").click(function () {
                    handleLaunchImmersiveReader();
                });
        
                function handleLaunchImmersiveReader() {
                    getTokenAndSubdomainAsync()
                        .then(function (response) {
                            const token = response["token"];
                            const subdomain = response["subdomain"];
        
                            // Learn more about chunk usage and supported MIME types https://docs.microsoft.com/azure/cognitive-services/immersive-reader/reference#chunk
                            const data = {
                                title: $("#ir-title").text(),
                                chunks: [{
                                    content: $("#ir-content").html(),
                                    mimeType: "text/html"
                                }]
                            };
        
                            // Learn more about options https://docs.microsoft.com/azure/cognitive-services/immersive-reader/reference#options
                            const options = {
                                "onExit": exitCallback,
                                "uiZIndex": 2000
                            };
        
                            ImmersiveReader.launchAsync(token, subdomain, data, options)
                                .catch(function (error) {
                                    console.log(error);
                                    alert("Error in launching the Immersive Reader. Check the console.");
                                });
                        })
                        .catch(function (error) {
                            console.log(error);
                            alert("Error in getting the Immersive Reader token and subdomain. Check the console.");
                        });
                }
        
                function exitCallback() {
                    console.log("This is the callback function. It is executed when the Immersive Reader closes.");
                }
            </script>
        </div>
      </div>

    </div>
  </div>

  <div class="section fun-facts">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="wrapper">
            <div class="row">
              <div class="col-lg-3 col-md-6">
                <div class="counter">
                    <h3>
                        {% if ori_text_len %}
                          {{ ori_text_len | e }}
                        {% else %}
                          -
                        {% endif %}
                      </h3>
                      <p class="count-text ">Total Original Words</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="counter">
                    <h3>
                        {% if summarized_text_len %}
                          {{ summarized_text_len | e }}
                        {% else %}
                          -
                        {% endif %}
                      </h3>
                      <p class="count-text ">Total Summarized Words</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="counter">
                    <h3>
                        {% if count_removed_words %}
                          {{ count_removed_words | e }}
                        {% else %}
                          -
                        {% endif %}
                      </h3>
                      <p class="count-text ">Total Removed Words</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="counter end">
                    <h3>
                        {% if percentage_of_loss %}
                          {{ '%.2f%%' % (percentage_of_loss) }}
                        {% else %}
                          ---.--%
                        {% endif %}
                      </h3>
                      <p class="count-text ">Change Percentage</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <footer>
    <div class="container">
      <div class="col-lg-12">
        <p>Molding Fluency, One Word at a Time!</p>
      </div>
    </div>
  </footer>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/isotope.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/owl-carousel.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/counter.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>

  </body>
</html>

    